.block{
    display: flex;
    margin-top: 10px;
}
.block div{
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.r{
    border:10px red outset;
}
.g{
    border: 10px green dashed;
}
.b{
    border: 10px blue dotted;
}
.c{
    border: 10px lightskyblue double;
}
.m{
    border: 10px purple groove; 
}
.y{
    border:10px yellow inset;
}
.k{
    border: 10px black solid;
}
span{
    display: inline-block;
    margin: 5px;
    background-color: #FFA500;
    border: 5px solid #FF7F50;
}
.first{
    width: 400px;
    text-align: center;
    border: 5px solid #FF7F50;
}
.second{
    border: 5px solid red;
    border-radius: 20px 40px;
    box-shadow: 2px  8px 8px rgba(0,0,0,0.5);
    overflow: auto;
}
.third{
    border: 5px solid #FF6347;
}
.box{
    border: 5px solid black;
    text-align: center;
    margin: 1px;
}
.box2{
    box-sizing: content-box;
    width: 80px;
    height: 80px;

}
.box1{
    box-sizing: border-box;
    width: 90px;
    height: 90px;
}